body {
    font-family: 'Lato', 'sans-sherif';
    color: #291f1a;
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

section h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 35px;
}

/*właściwości menu nawigacyjne*/

#main-nav {
    position: fixed;
    background-color: #fff;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 2;
}

#main-nav > ul {
    margin: 0;
    float: right;
}

#main-nav > ul > li {
    display: inline-block;
    list-style-type: none;
}

#main-nav > ul > li > a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
}

#main-nav > ul > li > a:hover {
    color: #291f1a;
}

/*właściwości header z imieniem i nazwiskiem*/

#main-header {
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: center;
}

#main-header.main-header-content {
    padding: 30vh;
}

#main-header h1 {
    font-family: 'Roboto';
}

/*właściwości section o mnie*/

#about {
    padding: 0 80px 100px;
    width: 100%;
    background-color: #f9fcfe;
}

#about h2 {
    text-align: center;
}

#about figure {
    max-height: 350 px;
    width: 50%;
    margin: 0;
    float: left;
}

#about img {
    width: 100%;
    border: white solid 15px;
}

#about article {
    width: 50%;
    float: left;
}